/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* FONT STYLES */

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 27px;
}

h1 {
	font-size: 33px;
	line-height: 52px;
	margin-bottom: 27px;
}

h2 {
	font-size: 26px;
	line-height: 41px;
	margin: 44px 0 17px;
}

h3 {
	font-size: 20px;
	line-height: 33px;
	margin-top: 27px 0 11px;
}

h4 {
	font-size: 16px;
	line-height: 27px;
	font-weight: bold;
	margin-bottom: 7px;
}

p,
ul,
ol,
blockquote {
	margin-bottom: 27px;
}

ul,
ol {
	margin-left: 27px;
}

li {
	margin-bottom: 11px;
}

blockquote {
	padding-left: 17px;
	border-left: 7px solid rgba(0,0,0,0.15);
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	body {
		line-height: 29px;
	}

	h1 {
		margin-bottom: 29px;
	}

	h2 {
		line-height: 43px;
		margin: 47px 0 18px;
	}

	h3 {
		line-height: 35px;
		margin-top: 29px;
	}

	h4 {
		line-height: 29px;
	}

	p,
	ul,
	ol,
	blockquote {
		margin-bottom: 29px;
	}

	ul,
	ol {
		margin-left: 29px;
	}

}

@media (min-width: 992px) {

	h1 {
		line-height: 55px;
	}

	h2 {
		line-height: 45px;
		margin-top: 49px;
	}

	blockquote {
		padding-left: 19px;
	}

}

@media (min-width: 1200px) {
	body {
		line-height: 32px;
	}

	h1 {
		margin-bottom: 32px;
	}

	h2 {
		margin: 52px 0 20px;
	}

	h3 {
		line-height: 38px;
		margin-top: 32px;
	}

	h4 {
		line-height: 32px;
	}

	p,
	ul,
	ol,
	blockquote {
		margin-bottom: 32px;
	}

	ul,
	ol {
		margin-left: 32px;
	}

}
